@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grande telas: acima de 1200px
*/

@media screen and (min-width: 600px) {

main {
    height: 100%;
    display: block;
    margin-bottom: 50px;
}

#apresentacao {
    min-width: 50vw;
    font-size: 1.2em;
    }

#apresentacao iframe {
    min-width: 35vw;
}

main p {
    text-align: justify;
    text-indent: 40px;
}

}