@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    background: linear-gradient(to bottom, rgb(0, 185, 0), rgb(0, 99, 0));
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    width: 100%;
}

header img {
    display: block;
    width: 200px;
    margin-left: 50px;
}

#navbar {
    display: flex;
}

#navbar ul {
    list-style-type: none;
    gap: 40px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    padding-right: 50px;
    font-size: 1.2em;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    color: rgb(0, 247, 255);
}

main {
    display: flex;
    width: 100%;
    height: auto;
}

#apresentacao {
    display: block;
    margin: 50px auto;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    max-width: 300px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
}

#apresentacao iframe {
    max-width: 250px;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    display: block;
    background: linear-gradient(to bottom, rgb(0, 185, 0), rgb(0, 99, 0));
    text-align: center;
    padding: 15px;
    color: white;
}